/* all pages */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
  background: #080b0b;
  color: rgb(112, 112, 112);
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(34, 164, 12); 
    border-radius: 10px;
  }


::selection {
    background-color: #3d3d3d;
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
  border-color: none;
  background-color: #0e8100;
  color: white;
  transition: all 0.4s;
}

.toast.show {
  z-index: 2;
}


.btn-outline-dark {
    transition: all 0.4s;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.btn {
  font-family: 'Montserrat';
}

footer {
  margin: 20px;
  font-size: 12px;
} 


.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 90px; 
    right: 0; 
    z-index:0;
    background: #060606;
  color: white;
  margin-right: 15px;
}

a {
  text-decoration: none;
}

.navbarstyling {
    color: white;
    background: #0c0c0c;
    padding: 10px;
    font-family: 'Montserrat';
    border-radius: 4px;
  margin: 5px;
}

.toast-header {
  color: white;
  background: green;
}

.shop-button {
  font-size: 15px;
}

a:hover {
  color: #5aff4f;
  text-decoration: none;
  transition: all 0.4s;
    
}

.article-container {

  max-width: 80%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.card {
  width:200px; 
  height: 600px; 
  margin-bottom: 20px
}



/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 20px;
  margin-top: 20px;
}

.product img {
  margin: auto;
}

.product > .card-header {
  height: 3em
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px;
  margin-bottom: 10px;
}

/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px;
}

.product_row  .product-properties  li {
  width: 25%;
  float: left;
}

.bg-light{
  background-color: black !important;
  border-bottom: 1px solid lime;
}

.navbar-brand {
  color: white !important;
}

.kart {
  color: white;
  width: 30px;
}

#slangy {
  width: 100px;
}

.col-sm {
  flex-grow: 0;
  padding-left: 0px;
}

.card {
  background: transparent;
  width: 400px;
  
  border-bottom: 3px solid green;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}

.card:hover {
  cursor: pointer;
}

.card-body {
padding: 0;
  background: #060606;
}



.card-header {
  text-align: left;
  color: white;
  background-color: none;
}

.product_description {
  padding: 20px;
  color: #5c5c5c;
}

.product-properties {
  display: block;
  margin-top: 0px;
  padding-left: 20px;
}

h5 {
  margin-bottom: 0;
}




.card-header {
  padding-bottom: 0;
}

.hidethis {
  display: none;
}
#learnmore {
  color: lime;
  padding-left: 20px;
  transition: all 0.3s
}

#learnmore:hover {
  cursor: pointer;
  color: green;
  transition: all 0.3s
}

#winkelwagen {
  background: #0c0c0c;
  border-radius: 3px;
  border-bottom: 2px solid #3fd73f;
}

.product_image  {
  background: black;
}

#totalcolor {
  color: white;
}

.toast.show {
  border: none;
}

.toast-header {
  border: none;
  color: white;
  background: #060606;
}

.toast-body {
  border-bottom: 2px solid green;
  color: #f2f2f2
}

a {
  color: #47ff3d;
  
}

.mr-auto {
  color: #47ff3d;
}


.ml-2 .mb-1 .close {
  color: white;
}

.product_amount {
  text-align: center;
  width: 40px;
  background: #060606;
  color: white;
  margin-left: 10px;
  height: 40px;
  border: 1px solid #131313;
}

.shop-button {
  margin-bottom: 10px;
}

.indexstyling {
  margin-top: 30px;
}

#productstyling {
  margin-top: 0;
}

.productcontainer {
  display: flex;
  flex-direction: row;
}

.product-body {
  padding: 20px;
   background: #060606;
}

.btn-outline-dark {
  border: none;
  background: #44d62c;
  transition: background 0.5s;
  font-family: 'Montserrat';
  font-weight: 600;
  color: black;
}

.btn {
  color: white;
  transition: all 0.4;s
}

.btn:hover {
  color: #2ddf5c;
  transition: all 0.4;s
}

.btn-outline-dark:hover {
  background: #5ddf49;
    color: black;
  font-weight: bold;
  transition: background 0.5s;
}

.frogbox{
  display: flex;
  margin: 20px;
}

    input:focus, textarea:focus, select:focus{
        outline: none;
    }

.navbar-light .navbar-toggler {
  background: green;
  border: none;
}

.navbar-collapse {
  margin: 20px;
}
button:focus {
  outline: none;
}

#hstyling {
  padding-bottom: 0px;
}

.product_price {
  font-size: 20px;
  color: lime;
}

.form-control {
  border: 2px solid #30ff3094;
  background: #141a1a;
  width: 300px;
}

.product_color {
  color: #5f605f;
  padding-left: 20px;
  font-size: 13px;
  padding-left: 20px;
}


@media screen and (max-width: 532px) {
  .card {
    width: 90%;
    margin: auto;
  }
.article-container {
    max-width: 100%;
  }
}

.btn-outline-dark:hover {
  border-color: none;
  background-color: #0e8100;
  color: white;
  transition: all 0.4s;
}

@media screen and (max-width: 860px) {
  .productcontainer {
    flex-direction: column;
  }
  .product_image {
    max-width: 100%;
  }
  .col-sm {
    margin-bottom: 20px;
  }

  li a {
    display:block;
  }

  #winkelwagen {
    margin: 5px;
    padding: 10px;
  }

  .mr-auto {
    margin-bottom: 20px;
  }
}