/* all pages */
body {
  background: #080b0b;
  color: rgb(112, 112, 112);
}
footer {
  margin: 20px;
  font-size: 12px;
} 

.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:0;
    background: red;
}

.shop-button {
  font-size: 15px;
  margin-top: -4px;
}

.article-container {
  margin: auto;
}

.card {
  width:200px; 
  height: 600px; 
  margin-bottom: 20px
}



/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 20px;
  margin-top: 20px;
}


.container {
  max-width: 75%;
}

.product img {
  margin: auto;
  margin-top: 20px;
}

.product > .card-header {
  height: 3em
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px
}

/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px;
}

.product_row  .product-properties  li {
  width: 25%;
  float: left;
}

.bg-light{
  background-color: black !important;
  border-bottom: 1px solid lime;
}

#index {
  padding-top: 30px;
}

.navbar-brand {
  color: white !important;
}

.kart {
  color: white;
  width: 30px;
}

#slangy {
  width: 100px;
}

.col-sm {
  
  padding-left: 0px;
}

.card {
  background: transparent;
  width: 400px;
  border-bottom: 3px solid green;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}

.card:hover {
  cursor: pointer;
}

.card-body {
padding: 0;
  background: #060606;
}

.card-header {
  text-align: left;
  color: white;
  background-color: none;
}

.product_description {
  padding: 20px;
  color: #5c5c5c;
}

.product-properties {
  display: none;
}

#learnmore {
  color: lime;
  padding-left: 20px;
  transition: all 0.3s
}

#learnmore:hover {
  cursor: pointer;
  color: green;
  transition: all 0.3s
}

.product_image  {
  background: black;
}